@import 'colors.less';

#app-root-2025-tarif_timeline .app {
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 40px auto;
  >ul {
    --col-gap: 2rem;
    --line-w: 0.25rem;
    --row-gap: 2rem;
    column-gap: var(--col-gap);
    display: grid;
    grid-auto-columns: max-content;
    grid-template-columns: var(--line-w) 1fr;
    list-style: none;
    margin-inline: auto;
    width: min(60rem, 90%);
    &:before {
      background: #aaa096;
      border-radius: calc(var(--line-w) / 2);
      content: "";
      grid-column: 1;
      grid-row: 1 / span 20;
    }
    >li {
      display: grid;
      grid-column: 2;
      grid-row: span 2;
      grid-template-rows: min-content min-content min-content;
      margin-inline: var(--inlineP);
      .date {
        align-items: center;
        background-color: var(--accent-color);
        color: white;
        display: grid;
        font-size: 22px;
        font-weight: 700;
        height: 40px;
        justify-content: left;
        margin-inline: calc(var(--inlineP) * -1);
        padding-left: 25px;
        position: relative;
        text-align: center;
        &:before {
          background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
          background: #fff;
          clip-path: polygon(100% 0, 0 50%, 100% 100%);
          content: "";
          height: 36px;
          position: absolute;
          right: -1px;
          top: 2px;
          aspect-ratio: 1;
          width: 26px;
        }
        &:after {
          aspect-ratio: 1;
          background: #fff;
          border-radius: 50%;
          border: 6px solid var(--accent-color);
          box-sizing: content-box;
          content: "";
          position: absolute;
          right: calc(100% + var(--col-gap) + var(--line-w) / 2);
          top: 50%;
          transform: translate(50%, -50%);
          width: 1.5rem;
        }
      }
      .title,
      .descr {
        background: var(--bgColor);
        padding-inline: 1.5rem;
        position: relative;
      }
      .title {
        overflow: hidden;
        padding-block-start: 1.5rem;
        h3 {
          font-size: 22px;
          font-weight: 700;
          line-height: 22px;
          margin: 0 0 10px 0;
        }
        &:before {
          bottom: calc(100% + 0.125rem);
        }
      }
      .descr {
        padding-block-end: 1.5rem;
        ul {
          font-size: 16px;
          font-weight: 400;
          line-height: 22px;
          margin: 0 0 20px 0;
          padding: 0 0 0 28px;
          li {
            list-style-type: disc;
            margin: 0 0 5px 0;
            padding: 0; 
            a {
              color: #000;
              font-weight: 400;
              text-decoration: underline;
              &:hover {
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }

  @media (min-width: 40rem) {
    >ul {
      grid-template-columns: 1fr var(--line-w) 1fr;
      &:before {
        grid-column: 2;
      }
      >li {
        &:nth-child(odd) {
          grid-column: 1;
          .date {
            border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
            justify-content: right;
            padding-left: 0;
            padding-right: 25px;
            &:before {
              clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
              left: -1px;
            }
            &:after {
              left: calc(100% + var(--col-gap) + var(--line-w) / 2);
              transform: translate(-50%, -50%);
            }
          }
        }
        &:nth-child(even) {
          grid-column: 3;
        }
        &:nth-child(2) {
          grid-row: 2/4;
        }
      }
    }
  }
}

@import 'basics.less';